<html>
<head>
  <title>Classifier Results</title>
</head>
<body>

<img src="data: <%= mimetype %>;base64, <%= photo %>">
<br>
<% if (results.length == 0) { %>
  <p>Can't recognize objects in this photo!</p>
<% } else { %>
  <ol>
  <% results.forEach(function(r) { %>
  <li>Object: <b><%= r.class %></b>, Score: <b><%= r.score %></b></li>
  <% }); %>
  </ol>
<% } %>
</body>
</html>
